#!groovy
// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: 2026 Kienan Stewart <kstewart@efficios.com>

pipeline {
  agent {
    label 'deb13-amd64-rootnode'
  }

  environment {
    PROJECT_NAME = "lttng-www"
    BUILD_TARGET = "${params.BUILD_TARGET}"
    DEPLOY_TARGET = "${params.DEPLOY_TARGET}"
  }

  options {
    ansiColor('xterm')
    skipDefaultCheckout()
    timestamps()
  }

  stages {
    stage('Checkout') {
      steps {
        dir('src/lttng-www') {
          checkout([$class: 'GitSCM', branches: [[name: "${params.GIT_BRANCH}"]], userRemoteConfigs: [[url: "${params.GIT_URL}", credentialsId: "${params.GIT_CREDENTIALS}"]]])
        }
      }
    }

    stage('Fetch from review') {
      when {
        expression {
          env.GERRIT_PROJECT == "lttng-www"
        }
      }

      environment {
        KNOWN_HOSTS = credentials("${params.REVIEW_KNOWN_HOSTS}")
        GERRIT_CREDS = credentials("${params.REVIEW_GIT_CREDENTIALS}")
        GERRIT_URL = "${params.REVIEW_GIT_URL}"
      }

      steps {
        sh(
          label: 'Setup SSH',
          script: '''#!/usr/bin/bash -x
mkdir -p ~/.ssh
cat "${KNOWN_HOSTS}" >> ~/.ssh/known_hosts
cp "${GERRIT_CREDS}" ~/.ssh/id_rsa
''',
        )

        dir('src/lttng-www') {
          sh(
            label: "fetch",
            script: '''#!/usr/bin/bash -x
if [[ -z "${GERRIT_REFSPEC}" ]]; then
   exit 1
fi
git fetch "${GERRIT_URL}" "${GERRIT_REFSPEC}"
git checkout FETCH_HEAD
''',
          )
        }
      }

      post {
        always {
          sh(
            label: 'Cleanup SSH',
            script: '''#!/usr/bin/bash -x
rm -f ~/.ssh/id_rsa
''',
          )
        }
      }
    }

    stage('Setup') {
      environment {
        DPKG_FRONTEND = "noninteractive"
      }

      steps {
        dir('src/lttng-www') {
          sh(
            label: 'install packages',
            script: '''#!/usr/bin/bash -x
apt-get update -y
apt-get install -y \
  doxygen \
  linkchecker \
  npm \
  ruby-bundler \
  ruby-dev \
  xmlto

wget https://releases.astral.sh/github/uv/releases/download/0.11.26/uv-x86_64-unknown-linux-gnu.tar.gz -O - | tar -xzf - -C /usr/local/share
ln -s /usr/local/share/uv-x86_64-unknown-linux-gnu/uv /usr/local/bin/uv
ln -s /usr/local/share/uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin/uvx
''',
          )

          sh(
            label: 'bootstrap',
            script: '''#!/usr/bin/bash -x
./bootstrap.sh
'''
          )
        }
      }
    }

    stage('Build') {
      steps {
        dir('src/lttng-www') {
          sh(
            label: 'build',
            script: '''#!/usr/bin/bash -x
uv run doit build:${BUILD_TARGET}
'''
          )

          archiveArtifacts(artifacts: "build/${params.BUILD_TARGET}/**")
        }
      }
    }

    stage('Test') {
      steps {
        dir('src/lttng-www') {
          sh(
            label: 'check links',
            script: '''#!/usr/bin/bash -x
touch link_report.csv
chown nobody: link_report.csv
uv run doit check-links:${BUILD_TARGET}
ret=$?
cat link_report.csv
exit $ret
''',
          )
        }
      }

      post {
        always {
          archiveArtifacts(artifacts: "src/lttng-www/link_report.csv")
        }
      }
    }

    stage('Deploy') {
      environment {
        KNOWN_HOSTS = credentials("${params.DEPLOY_KNOWN_HOSTS}")
        DEPLOY_CREDS = credentials("${params.DEPLOY_CREDENTIALS}")
      }

      steps {
        sh(
          label: 'Setup SSH',
          script: '''#!/usr/bin/bash -x
mkdir -p ~/.ssh
cat "${KNOWN_HOSTS}" >> ~/.ssh/known_hosts
cp "${DEPLOY_CREDS}" ~/.ssh/id_rsa
''',
        )

        dir('src/lttng-www') {
          sh(
            label: 'deploy',
            script: '''#!/usr/bin/bash -x
uv run doit "deploy-${DEPLOY_TARGET}"
''',
          )
        }
      }

      post {
        always {
          sh(
            label: 'Cleanup SSH',
            script: '''#!/usr/bin/bash -x
rm -f ~/.ssh/id_rsa
''',
          )
        }
      }
    }
  }
}
